{% extends "../store/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container mt-5">
<form class="g-3 " action='/user/register' method="POST">
<h3>Registerartion form</h3>
<div class="row mt-4"> 
  <div class="col-md-4">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="col-md-4">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>    
  </div>
  </div>

  <div class="col-md-4">
    <label for="emailid" class="form-label">Email Id</label>
    <div class="input-group">
      <span class="input-group-text" id="emailid">@</span>
      <input type="text" class="form-control" name="emailid" id="emailid" aria-describedby="inputGroupPrepend" required>
    </div>
  </div>
  
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
<div>

{% endblock %}